# Problem Set 2

# Question 1
Consider the following Python module:  
a = 0  
def b():  
 global a  
 a = c(a)  
def c(a):  
 return a + 2  
After importing the module into the interpreter, you execute:  
##### >>> b()  
##### >>> b()  
##### >>> b()  
##### >>> a ?  
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [21]:
a = 0
#function c(a) takes the current value of a, adds 2 to it, and returns the result.
def b(): 
    global a
    a = c(a)
#function c(a) takes the current value of a, adds 2 to it, and returns the result.
def c(a):
    return a + 2

In [19]:
b() #Inside b(), it sets a to the result of c(a), which is c(0) = 0 + 2 = 2
b() #Inside b(), it sets a to the result of c(a), which is c(2) = 2 + 2 = 4
b() #Inside b(), it sets a to the result of c(a), which is c(4) = 4 + 2 = 6

In [20]:
print(a)

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:  
##### >>> fileLength('midterm.py')  
284
##### >>> fileLength('idterm.py')  
Traceback (most recent call last):  
File "<pyshell#34>", line 1, in <module>  
   fileLength('idterm.py')  
File "/Users/me/midterm.py", line 3, in fileLength  
    infile = open(filename)  
 FileNotFoundError: [Errno 2] No such file or directory:  
    'idterm.py'  
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:  
#####    >>> fileLength('midterm.py') 
    358
##### >>> fileLength('idterm.py')
File idterm.py not found.

In [3]:
def fileLength(FileName):
    try:
        file = open(FileName)#opening file
        letters = file.read()
        count = len(letters)#countin gthe lenghth of characters
        print(f"Length Of {FileName} is: {count}")
    except:
        print(f"No such file named {FileName}")

fileLength('midterm.py')
fileLength('idterm.py')

Length Of midterm.py is: 181
No such file named idterm.py

# Question 3
Write a class named Marsupial that can be used as shown below:
##### >>> m = Marsupial()
##### >>> m.put_in_pouch('doll')
##### >>> m.put_in_pouch('firetruck')
##### >>> m.put_in_pouch('kitten')
##### >>> m.pouch_contents()
['doll', 'firetruck', 'kitten']  
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:  
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,  
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and  
c. overloads the __str__ operator so it behaves as shown below.
##### >>> k = Kangaroo(0,0)
##### >>> print(k)
I am a Kangaroo located at coordinates (0,0)
##### >>> k.put_in_pouch('doll')
##### >>> k.put_in_pouch('firetruck')
##### >>> k.put_in_pouch('kitten')
##### >>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
##### >>> k.jump(1,0)
##### >>> k.jump(1,0)
##### >>> k.jump(1,0)
##### >>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [4]:
class Marsupial:
    def __init__(D):
        D.pouch = []

    def put_in_pouch(D, item):
        D.pouch.append(item)

    def pouch_contents(D):
        return D.pouch

class Kangaroo(Marsupial):
    def __init__(D, x, y):
        super().__init__()
        D.x = x
        D.y = y

    def jump(D, dx, dy):
        D.x += dx
        D.y += dy

    def __str__(D):
        return f"I am a Kangaroo located at coordinates ({D.x},{D.y})"

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:  
x = {  
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐  
3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬  
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [1]:
def collatz(x):
    print(x, end=" ")  # Print the current value of x
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)  # If x is even, divide it by 2
    else:
        collatz(3 * x + 1)  # If x is odd, apply the 3x + 1 rule

collatz(1)
print()  # Print a newline for better formatting

collatz(10)
print()

1
10 5 16 8 4 2 1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
###### >>> binary(0)
0
###### >>> binary(1)
1
###### >>> binary(3)
11
###### >>> binary(9)
1001

In [4]:
def binary(n):
    if n == 0:
        print(0, end="")
    elif n == 1:
        print(1, end="")
    else:
        binary(n // 2)  # Recursively call binary 
        print(n % 2, end="")
binary(0)
print()  # Print a newline for better formatting

binary(1)
print()

binary(3)
print()

binary(9)
print()

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
###### >>> infile = open('w3c.html')
###### >>> content = infile.read()
###### >>> infile.close()
###### >>> hp = HeadingParser()
###### >>> hp.feed(content)
W3C Mission
Principles

In [7]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []  # Initialize a list to store headings
        self.current_heading = None  # Initialize the current heading

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and tag[1:].isdigit():
            # Check if the tag is an h1, h2, etc.
            heading_level = int(tag[1])
            self.current_heading = (heading_level - 1) * "    "  # Indentation
        else:
            self.current_heading = None

    def handle_data(self, data):
        if self.current_heading is not None:
            self.headings.append(f"{self.current_heading}{data.strip()}")

    def print_headings(self):
        for heading in self.headings:
            print(heading)

# Test the HeadingParser
infile = open('w3c.html', 'r', encoding='utf-8')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission

    Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)  
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html  
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html  
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html  
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html  
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [38]:
import requests
from bs4 import BeautifulSoup

HEADERS = ({'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36','Accept-Language': 'en-US, en;q=0.5'})

def all_link(URL):
    
    A = []
    webpage = requests.get(URL, headers=HEADERS)
    soup = BeautifulSoup(webpage.content, "html.parser")
    links = soup.find_all("h3") #finding all the h3 tags which contains "href" links

    b = []

    for li in links:
        c = li.find("a").get('href') #from a tag getting href link
        b.append("https://heyplaces.in/Kolkata" + c) #link is in short form so completing the link by adding mannual text and appending it to b

    return b  # Return the list of links

def webdir(URL, depth, indent):
    if depth == 0:
        return
    b = all_link(URL)
    for Li in b:
        print(' ' * indent + Li)
        webdir(Li, depth - 1, indent + 2)

webdir('https://heyplaces.in/Kolkata/', 2, 0)

https://heyplaces.in/Kolkata/023398/Kolkata
https://heyplaces.in/Kolkata/02537483/Kolkata_-_The_City_of_Joy
https://heyplaces.in/Kolkata/041595/West_Bengal
https://heyplaces.in/Kolkata/023395/Howrah,_India
https://heyplaces.in/Kolkata/03434302/Makati_Kolkata
https://heyplaces.in/Kolkata/02381829/Eco_Park,_New_Town,_Kolkata
https://heyplaces.in/Kolkata/03934146/Newtown,kolkata
https://heyplaces.in/Kolkata/02489763/PUB13
https://heyplaces.in/Kolkata/02564427/Roxy_at_the_Park_Kolkata
https://heyplaces.in/Kolkata/03035562/Kolkata_city_of_joy

# Question 8
Write SQL queries on the below database table that return:  
a) All the temperature data.  
b) All the cities, but without repetition.  
c) All the records for India.  
d) All the Fall records.  
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.  
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.  
g) The total annual rainfall for Cairo.  
h) The total rainfall for each season.

In [9]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in c:\users\chint\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl (2.1 MB)
Requirement already satisfied: ipython in c:\users\chint\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils in c:\users\chint\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\chint\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: stack-data in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=5 in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\chint\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\chint\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\chint\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\chint\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\chint\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\chint\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: typing-extensions, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.32
    Uninstalling SQLAlchemy-1.4.32:
      Successfully uninstalled SQLAlchemy-1.4.32
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.22 sqlparse-0.4.4 typing-extensions-4.8.0

In [62]:
%reload_ext sql

In [63]:
%%sql sqlite:///my_database.db

CREATE TABLE IF NOT EXISTS weather (
    city TEXT,
    country TEXT,
    season TEXT,
    temperature REAL,
    rainfall REAL
);

Done.

[]

In [67]:
%%sql sqlite:///my_database.db

INSERT OR REPLACE INTO weather (city, country, season, temperature, rainfall)
VALUES
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

12 rows affected.

[]

In [73]:
%%sql sqlite:///my_database.db
SELECT * FROM weather

Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [72]:
# a)
print("Temperature Data Information")
Temp = %sql SELECT Temperature FROM weather
print(Temp)

# b)
print("Information of All the Cities without repetition")
City = %sql SELECT DISTINCT City FROM weather
print(City) 

# c) 
print("Information of India")
India_Info = %sql SELECT * FROM weather WHERE Country = 'India'
print(India_Info) 

# d)
print("Information of Fall")
Fall_Season_Info = %sql SELECT * FROM weather WHERE Season = 'Fall'
print(Fall_Season_Info)

# e)
print("The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
Avg_RainFall = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_RainFall) 

# f)
print(" The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
Avg_Temprature = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_Temprature)

# g)
print("The total annual rainfall for Cairo")
Annual_Rainfall = %sql SELECT City, SUM(Rainfall) AS Total_Annual_Rainfall FROM weather WHERE City = 'Cairo' GROUP BY City
print(Annual_Rainfall)

# h)
print("The total rainfall for each season")
Total_Rainfall = %sql SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season
print(Total_Rainfall)

Temperature Data Information
 * sqlite:///my_database.db
Done.
+-------------+
| Temperature |
+-------------+
|     24.8    |
|     28.4    |
|     27.9    |
|     27.6    |
|     4.2     |
|     8.3     |
|     15.7    |
|     10.4    |
|     13.6    |
|     20.7    |
|     27.7    |
|     22.2    |
+-------------+
Information of All the Cities without repetition
 * sqlite:///my_database.db
Done.
+--------+
|  City  |
+--------+
| Mumbai |
| London |
| Cairo  |
+--------+
Information of India
 * sqlite:///my_database.db
Done.
+--------+---------+--------+-------------+----------+
|  City  | Country | Season | Temperature | Rainfall |
+--------+---------+--------+-------------+----------+
| Mumbai |  India  | Winter |     24.8    |   5.9    |
| Mumbai |  India  | Spring |     28.4    |   16.2   |
| Mumbai |  India  | Summer |     27.9    |  1549.4  |
| Mumbai |  India  |  Fall  |     27.6    |  346.0   |
+--------+---------+--------+-------------+----------+
Information of Fall
 * sqlite:///my_database.db
Done.
+--------+----------------+--------+-------------+----------+
|  City  |    Country     | Season | Temperature | Rainfall |
+--------+----------------+--------+-------------+----------+
| Mumbai |     India      |  Fall  |     27.6    |  346.0   |
| London | United Kingdom |  Fall  |     10.4    |  218.5   |
| Cairo  |     Egypt      |  Fall  |     22.2    |   4.5    |
+--------+----------------+--------+-------------+----------+
The city, country, and season for which the average rainfall is between 200 and 400 millimeters
 * sqlite:///my_database.db
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
 The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
 * sqlite:///my_database.db
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
The total annual rainfall for Cairo
 * sqlite:///my_database.db
Done.
+-------+-----------------------+
|  City | Total_Annual_Rainfall |
+-------+-----------------------+
| Cairo |          27.6         |
+-------+-----------------------+
The total rainfall for each season
 * sqlite:///my_database.db
Done.
+--------+--------------------+
| Season |   Total_Rainfall   |
+--------+--------------------+
|  Fall  |       569.0        |
| Spring | 192.29999999999998 |
| Summer |       1706.5       |
| Winter |       230.1        |
+--------+--------------------+

# Question 9

Suppose list words is defined as follows:  

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']  

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']  
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']  
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).  
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over',4 ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)  
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']  
(the list of words in list words containing 4 or more characters.)

In [75]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#a) Words in Uppercase
UPPERCASE = [word.upper() for word in words] 

# b) Words in Lowercase
LOWERCASE = [word.lower() for word in words] 

#c) Length of words
Length = [len(word) for word in words] 

#d) List of information with Uppercase, Lowercase and Word Length
Word_Info = [[word.upper(), word.lower(), len(word)] for word in words] 

#e) Words with 4 or more characters
More_than_4_Words = [word for word in words if len(word) >= 4] 

print(UPPERCASE)
print()
print(LOWERCASE)
print()
print(Length)
print()
print(Word_Info)
print()
print(More_than_4_Words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']